{
	"parser": "babel-eslint", 
	"extends": "eslint:recommended",
	"env" : {
		"node": true, 
		"browser": true, 
		"jquery": true, 
		"es6": true
	}, 
	"globals": { //Custom Global Vars
		"PathFinding": "readonly"
	}, 
	"rules": {
		"indent": [
            "warn",
			"tab", 
			{ 
				"SwitchCase": 1 
			}
        ],
        "linebreak-style": 0,
        "quotes": 0,
        "semi": [
            "warn",
            "always"
		], 
		"no-console": [
            "warn", 
            {
                "allow": ["log", "warn", "error"]
            }
		], 
		"eol-last": 2, 
		"comma-spacing": [
			"warn", 
			{
				"before": false, 
				"after": true
			}
		], 
		"brace-style": [
			"warn", 
			"1tbs"
		]
	}
}