html, body, head {
    margin: 0;
    padding: 0;
}

table {
    position: absolute;
    border-collapse: collapse;
    top: 50%;
    transform: translateY(-50%);
}

tr {
    border: solid 1px black;
}

td {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 1vw;
    width: 1vw;
    border-left: solid 1px black;
    border-top: solid 1px black;
}

#grid-container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}