/* <----------------ANIMATIONS----------------> */
@keyframes wallGrowShrink{
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pointGrow{
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}


.VISITED{
    background-color: lightblue;
    animation: wallGrowShrink 150ms linear normal;
}

.PATH{
    background-color: yellow;
    animation: wallGrowShrink 150ms linear normal;
}

.ADDEDTOQUEUE{
    background-color: lightgreen;
    animation: wallGrowShrink 150ms linear normal;
}