/* <----------------GRID----------------> */
#grid-container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

table {
    position: absolute;
    border-collapse: collapse;
}

td {
    padding: 0;
    margin: 0;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.VISITED{
    background-color: lightblue;
    animation: wallGrowShrink 150ms linear normal;
}

.PATH{
    background-color: yellow;
    animation: wallGrowShrink 150ms linear normal;
}

.wallElem {
    background-color: grey;
    animation: wallGrowShrink 150ms linear normal;
}

.ADDEDTOQUEUE{
    background-color: lightgreen;
    animation: wallGrowShrink 150ms linear normal;
}

/* !!!!!! DO NOT ADD RULES BELOW THIS LINE !!!!!! */
.startPoint {
    background-color: greenyellow;
}

.endPoint {
    background-color: red;
}